attrs==19.1.0
CacheControl==0.12.5
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
Django==2.1.11
django-crispy-forms==1.7.2
firebase-admin==2.16.0
google-api-core==1.8.1
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-firestore==0.31.0
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
grpcio==1.19.0
gunicorn==19.9.0
idna==2.8
jsonmerge==1.6.0
jsonschema==3.0.1
Markdown==3.1
msgpack==0.6.1
numpy==1.16.2
pandas==0.24.2
protobuf==3.7.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
Pygments==2.3.1
pyrsistent==0.14.11
python-dateutil==2.8.0
pytz==2018.7
requests==2.21.0
rsa==4.0
scikit-learn==0.20.3
scikit-multilearn==0.2.0
scipy==1.2.1
six==1.12.0
sklearn==0.0
urllib3==1.24.1
