{% load staticfiles %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logoja-icon.png' %}">
    <title>Welcome</title>
    <!-- Custom CSS -->
    <!--<link href="{% static 'assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">-->
    <!-- Custom CSS -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/button.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/datepicker/bootstrap-datepicker.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>-->
    
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include "subtemp/heads.html" %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb ">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="page-title">History</h4>  
                    </div>
                    <div>
                        <input type="text" id="datepickerka" name="datefilter" value="Select Date" style="width:180px" />
                        <button type="button" id="button">Submit!</button> 
                    </div>
                </div>
                <br>
                <div style="text-align:center">
                    <h4 id="from_to_date">From {{ firstdate }} To {{ lastdate }}</h4>
                </div>
                <div class="row" style="padding-top:5px">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-3">
                                <div class="card card-hover">
                                    <div class="box bg-dark text-center">
                                        <h5 class="text-white">{{ meter.0.description }}</h5>
                                        <h2 id="sum_p1_val" class="font-light text-white">{{ sum_p1_val }}</h2>
                                        <h6 class="text-white">kWh</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card card-hover">
                                    <div class="box bg-dark text-center">
                                        <h5 class="text-white">{{ meter.1.description }}</h5>
                                        <h2 id="sum_p2_val" class="font-light text-white">{{ sum_p2_val }}</h2>
                                        <h6 class="text-white">kWh</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card card-hover">
                                    <div class="box bg-dark text-center">
                                        <h5 class="text-white">{{ meter.2.description }}</h5>
                                        <h2 id="sum_p3_val" class="font-light text-white">{{ sum_p3_val }}</h2>
                                        <h6 class="text-white">kWh</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card card-hover">
                                    <div class="box bg-dark text-center">
                                        <h5 class="text-white">{{ meter.3.description }}</h5>
                                        <h2 id="sum_p4_val" class="font-light text-white">{{ sum_p4_val }}</h2>
                                        <h6 class="text-white">kWh</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-3">
                        <div class="card card-hover">
                            <div class="box bg-warning text-center">
                                <h5>Charge</h5>
                                <h2 id="cost_by_date">฿{{ cost7days }}</h2>
                                <h6>Baht</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" style="padding-top:0px">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div id="container_kwh" style="height: 380px; min-width: 310px"></div>
                        </div>
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">All</span></a></li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab2" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Active Power(P)</span></a></li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab3" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Current(I)</span></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content tabcontent-border">
                                <div class="tab-pane active" id="tab1" role="tabpanel">
                                    <div class="box bg-white text-center">
                                        <h1 class="font-light text-white">
                                            <div id="all" style="height: 500px; min-width: 310px"></div>
                                        </h1>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="tab2" role="tabpanel">
                                    <div class="box bg-white text-center">
                                        <h1 class="font-light text-white">
                                            <div id="container_p" style="height: 400px; min-width: 310px"></div>
                                        </h1>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="tab3" role="tabpanel">
                                    <div class="box bg-white text-center">
                                        <h1 class="font-light text-white">
                                            <div id="container_i" style="height: 400px; min-width: 310px"></div>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            
        </div>
    </div>    
    {% include "subtemp/user_modals.html" %}
    
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!-- datepicker -->
    <!-- <script src="{% static 'js/datepicker/bootstrap-datepicker-custom.js' %}"></script> -->
    <!-- <script src="{% static 'js/bootstrap-datepicker.th.min.js' %}" charset="UTF-8"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    
    <!-- firebase highchart --->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyBlkrkJS2aKF8HSGtgS0sR5aw-MiVZUSGM",
            authDomain: "data-log-fb39d.firebaseapp.com",
            databaseURL: "https://data-log-fb39d.firebaseio.com",
            projectId: "data-log-fb39d",
            storageBucket: "data-log-fb39d.appspot.com",
            messagingSenderId: "946043644125"
        };
        
        firebase.initializeApp(config);
        var database = firebase.database();

        var col = JSON.parse('{{ d_col | escapejs }}');
        var data_last7 = JSON.parse('{{ data | escapejs }}');
        var p1_wh = JSON.parse('{{ p1_val | escapejs }}');
        var p2_wh = JSON.parse('{{ p2_val | escapejs }}');
        var p3_wh = JSON.parse('{{ p3_val | escapejs }}');
        var p4_wh = JSON.parse('{{ p4_val | escapejs }}');
        var firstdate =  "{{ firstdate }}";
        var lastdate =  "{{ lastdate }}";
        var ch1_name = "{{ meter.0.description }}";
        var ch2_name = "{{ meter.1.description }}";
        var ch3_name = "{{ meter.2.description }}";
        var ch4_name = "{{ meter.3.description }}";
        $(document).ready(function() {
            document.getElementById("tab2").classList.remove('active');
            document.getElementById("tab3").classList.remove('active');
            document.getElementById("tab4").classList.remove('active');
            document.getElementById("tab5").classList.remove('active');
        });
    </script>
    <script src="{% static 'js/historychart.js' %}"></script>
    <script>
        setSidebarActive(2)
    </script>