{% load staticfiles %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logoja-icon.png' %}">
    <title>Setting</title>
    <!-- Custom CSS -->
    <!--<link href="{% static 'assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">-->
    <!-- Custom CSS -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/button.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/datepicker/bootstrap-datepicker.css' %}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>-->
    
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include "subtemp/heads.html" %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Setting</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title m-b-0">Setting Meter Channel</h5>
                                    </div>
                                    <table class="table" style="margin-bottom: 0px;">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-center">Channel</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-danger">
                                                <td class="text-center">{{ meter.0.channel }}</td>
                                                <td>{{ meter.0.description }}</td>
                                                <td>
                                                </td>
                                            </tr>
                                            {% for m in meter %}
                                            {% if m.channel != 1 %}
                                            <tr>
                                                <td class="text-center">{{ m.channel }}</td>
                                                <td>{{ m.description }}</td>
                                                <td>
                                                    <a id="{{ m.channel }}" class="meter-channel" href="#">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title m-b-0">Setting Raspberry Pi's IP</h5>
                                    </div>
                                    <table class="table" style="margin-bottom: 0px;">
                                        <tr>
                                            <th scope="col" style="width:50%">Raspberry Pi's IP :</th>
                                            <th scope="col" style="width:40%">{{ ip_now }}</th>
                                            <th scope="col" style="width:10%"><a id="{{ ip_now }}" class="rpi-ip" href="#">Edit</a></th>
                                        </tr>
                                    </table>
                                </div>
                                
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="card-title m-b-0">Setting Bill Cycle</h5>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <h6><a class="bill-cycle" href="#">Edit</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table" style="margin-bottom: 0px;">
                                        <tr>
                                            <th scope="col" style="width:40%">Live at :</th>
                                            <th id="live" scope="col" style="width:10%">{{ live }}</th>
                                            <th scope="col" style="width:30%"></th>
                                        </tr>
                                        <tr>
                                            <th scope="col" style="width:40%">Cut-Off Date (Day) :</th>
                                            <th id="dbill" scope="col" style="width:10%; margin:0 -10px 0 0" >{{ dbill }}</th>
                                            <th scope="col" style="width:30%"></th>
                                        </tr>
                                        <tr>
                                            <th scope="col" style="width:40%">Price per Unit (Baht/Unit) :</th>
                                            <th id="munit" scope="col" style="width:10%">{{unit}}</th>
                                            <th scope="col" style="width:30%"></th>
                                        </tr>                                        
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <div style="height: 50px" class="mobileindex"></div>
        <footer class="footbar">
            <div class="row">
                <div class="col-3">
                    <a href="/index/">
                        <div class="boxs text-center">
                            <h4><i class="fas fa-seedling"></i></h4>
                            <h6>Index</h6>
                        </div>
                    </a>
                </div>
                 <!-- Column -->
                <div class="col-3">
                    <a href="/control/">
                        <div class="boxs text-center">
                            <h4><i class="fas fa-thermometer-half"></i></h4>
                            <h6>None</h6>
                        </div>
                    </a>
                </div>
                <!-- Column -->
                <div class="col-3">
                    <!--<a href="history">-->
                        <div class="boxs text-center now">
                            <h4><i class="fas fa-history"></i></h4>
                            <h6>History</h6>
                        </div>
                    <!--</a>-->
                </div>
                 <!-- Column -->
                <div class="col-3">
                    <a href="/graph/">
                        <div class="boxs text-center">
                            <h4><i class="fas fa-chart-bar"></i></h4>
                            <h6>Graph</h6>
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </div>    
    {% include "subtemp/user_modals.html" %}
    {% include "subtemp/modals.html" %}
    
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!-- datepicker -->
    <script src="{% static 'js/datepicker/bootstrap-datepicker-custom.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.th.min.js' %}" charset="UTF-8"></script>
    <script>
        $(document).ready(function() {
            $(".meter-channel").click(function(){
                var ch = $(this).attr("id");
                if(ch == 1){
                    var des = '{{ meter.0.description }}';    
                }else if(ch == 2){
                    var des = '{{ meter.1.description }}';
                }else if(ch == 3){
                    var des = '{{ meter.2.description }}';
                }else{
                    var des = '{{ meter.3.description }}';
                } 
                $("#channel_description").val(des);
                $("#m_ch").val(ch);
                $(".md-channel").text("Edit Meter Channel "+ch);
                $('#edit-channel').modal('show');
            })
            $("#submit-channel").click(function(){
               $("#meter-form-edit").submit(); 
            });
            
            $(".rpi-ip").click(function(){
                var ip = $(this).attr("id");
                $("#rp_ip").val(ip);
                $('#edit-ip').modal('show');
            })
            $("#submit-ip").click(function(){
               $("#ip-form-edit").submit(); 
            });
            var bill = $("#dbill").text();
            var live = $("#live").text();
            if(live == "Home"){
                var unit = 0;
            }else{
                var unit = $("#munit").text();
            }
            $(".bill-cycle").click(function(){
                
                $("#bill").val(bill);
                $("#cbill").val(bill);
                // $("#unit").val(unit);
                $('input[value="{{live}}"]').prop("checked",true);
                $('#edit-bill').modal('show');
                if(live == "Dorm") {
                    $("#unit").prop("disabled",false);
                    $("#unit").val(unit);
                }else if(live == "Home"){
                    $("#unit").prop("disabled",true);
                    $("#unit").val("None");
                }
            })
            $("#bill").click(function(){
                $("#cbill").val($(this).val());
            })
            $("#submit-bill").click(function(){
                $("#cbill").val($("#bill").val());
                $("#bill-form-edit").submit(); 
            });

            $('input:radio').click(function() {
            if($(this).val() == "Dorm") {
                $("#unit").prop("disabled",false);
                $("#unit").val(unit);
            }else{
                $("#unit").prop("disabled",true);
                $("#unit").val("None");
            }
});
        });
    </script>
    <script>
        setSidebarActive(3)
    </script>